# Node dependencies
node_modules/

# Build output
dist/

# Deployment output and cache
.vercel/

# Development cache
.vite/

# Environment variables
# Ignore all .env files but allow examples
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
yarn-error.log
yarn-debug.log

# Testing
coverage/

# OS specific
.DS_Store
Thumbs.db

# IDE specific
.idea/
.vscode/

# Temporary/Backup files
*~